.panel {
	width: 200px;
	height: 200px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.panel:hover {
	box-shadow: inset 0px 0px 0px 5px white;
	box-sizing: border-box;
}

.bottom-right-panel {
	background-color: #ff4136;
	border-bottom-right-radius: 200px;
}

.bottom-left-panel {
	background-color: #0074d9;
	border-bottom-left-radius: 200px;
}

.top-left-panel {
	background-color: #ffdc00;
	border-top-left-radius: 200px;
}

.top-right-panel {
	background-color: #2ecc40;
	border-top-right-radius: 200px;
}

body {
	background-color: #111111;
	text-align: center;
	margin-top: 100px;
}

.center {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 80px;
	background-color: #111111;
	text-align: center;
	border: 6px outset #e3e342;
	border-radius: 16px 16px 16px 16px;
	/* added effect from box shadow css generator */
}

.active {
	background-color: white;
}

h1 {
	color: whitesmoke;
	text-align: center;
}

.reset {
	border-color: #c43c35;
	background: #c43c35;
	color: #ffd3d3;
	padding: 12px 30px;
	text-transform: uppercase;
	display: grid;
	text-align: center;
	position: relative;
	display: inline;
}

.reset:hover {
	background-color: #f8f8ff;
	color: #606060;
}
